parameters:
    app.taxation.eu_zone_code: ~

services:
    webgriffe_sylius_italian_invoiceable_order.form.extension.italian_invoiceable_address:
        class: Webgriffe\SyliusItalianInvoiceableOrderPlugin\Form\Extension\ItalianInvoiceableAddressTypeExtension
        tags:
            - { name: form.type_extension, extended_type: Sylius\Bundle\AddressingBundle\Form\Type\AddressType }
    
    webgriffe_sylius_italian_invoiceable_order.address_comparator:
        class: Webgriffe\SyliusItalianInvoiceableOrderPlugin\Comparator\ItalianInvoiceableAddressComparatorDecorator
        decorates: sylius.address_comparator
        arguments:
            - '@webgriffe_sylius_italian_invoiceable_order.address_comparator.inner'
    
    app.taxation.italian_tax_calculation_strategy:
        class: Webgriffe\SyliusItalianInvoiceableOrderPlugin\Model\ItalianTaxCalculation
        arguments:
            - 'italian_tax_calculation_strategy'
            - 
                - '@sylius.taxation.order_item_units_taxes_applicator'
                - '@sylius.taxation.order_shipment_taxes_applicator'
            - '%app.taxation.eu_zone_code%'
        tags:
            - { name: sylius.taxation.calculation_strategy, type: italian_tax_calculation_strategy, label: 'Italian tax calculation' }
