<div class="col-12 col-md-6">
    {{ form_row(hookable_metadata.context.form.taxCode) }}
</div>
<div class="col-12 col-md-6">
    {{ form_row(hookable_metadata.context.form.vatNumber) }}
</div>
<div class="col-12 col-md-6">
    {{ form_row(hookable_metadata.context.form.sdiCode) }}
</div>
<div class="col-12 col-md-6">
    {{ form_row(hookable_metadata.context.form.pecAddress) }}
</div>
